p {
    color: rgb(9, 255, 0);
}
h1{
    color:#958894;
}
td{
    width: 200px;
    height: 100px;  
}
p{
    text-align: justify;
    width: 300px;
}
h1 , h2{
    text-align: center;
}

th{
    text-align: left;
}
